@import "../../style/vars.scss";
.meal-menu {
  margin-bottom: 100px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
  .meal-menu-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .meal-menu-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 992px) {
        gap: 20px;
      }
      @media (max-width: 768px) {
        gap: 10px;
      }
    }
  }
}
