@import "../../style/vars.scss";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  &-container {
    position: relative;
    width: 684px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    .modal-close {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 24px;
      right: 24px;
      background-image: url("../../assets/icons/close.svg");
      cursor: pointer;
    }
    .modal-title {
      font-size: 40px;
      margin-bottom: 24px;
    }
    .modal-inner {
      display: flex;
      gap: 16px;
      margin-bottom: 40px;
      .modal-img {
        max-width: 100%;
      }
      font-size: 12px;
      width: 100%;
      .modal-about {
        font-size: 12px;
        min-height: 226px;
        .modal-description {
          font-size: 16px;
          margin-bottom: 10px;
        }
        .modal-caption-ingredients {
          font-weight: 600;
          margin-bottom: 4px;
        }
        .modal-ingredients {
          line-height: 1.5;
          margin-bottom: 2px;
        }
        .modal-info {
          padding-top: 4px;
          color: $shadowColor;
        }
      }
    }
    .modal-bottom {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      .modal-btn {
        max-width: 276px;
        @include btnStyle($accentTextColor, $secondaryaccentTextColor);
      }
      .modal-total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .modal-counter {
          background-color: $btnColor;
          border-radius: 12px;
          display: flex;
          column-gap: 15px;
          justify-content: center;
          align-items: center;
          align-self: center;
          height: 40px;
          button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            padding: 7px 8px;
            cursor: pointer;
          }
        }
        .modal-price {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }
}
