@import "../../style/vars.scss";

.main {
  .main-container {
    @extend %container;
    .main-wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 35px;
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
      }
    }
  }
}
.loading {
  grid-column: span 4;
  text-align: center;
  font-size: 20px;
  color: $secondaryaccentTextColor;
  margin: 100px 0 200px;
}
