@import "../style/vars.scss";
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: $secondaryaccentTextColor;
  }
}
