@import "../../style/vars.scss";

.registration {
  background-color: $bgColor;
  padding: 20px 16px;
  &-wrapper {
    .registration-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 18px;
      font-family: "Nunito", sans-serif;
    }
    .registration-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 300px;
      input {
        border-radius: 12px;
        border: 1px solid $btnColor;
        outline: none;
        padding: 12px;
        font-size: 10px;
      }
      input::placeholder {
        color: $shadowColor;
      }
      input[name="age"] {
      }
      label {
        font-size: 10px;
        span {
          width: 35px;
          height: 20px;
          svg {
            color: $secondaryAccentColor;
            width: 20px;
            height: 20px;
            border: none;
          }
        }
      }
      input[type="submit"] {
        margin-top: 15px;
        background-color: $secondaryAccentColor;
        color: $accentColor;
        font-size: 16px;
        padding: 12px 0;
        height: auto;
        cursor: pointer;
      }
    }
  }
}
